{{- $date := . -}}

{{- $gy := $date.Year -}}
{{- $gm := int $date.Month -}}
{{- $gd := $date.Day -}}

{{- $gdm := slice 0 31 59 90 120 151 181 212 243 273 304 334 -}}

{{- $jy := 0 -}}

{{- if gt $gy 1600 -}}
  {{- $jy = 979 -}}
  {{- $gy = sub $gy 1600 -}}
{{- else -}}
  {{- $jy = 0 -}}
  {{- $gy = sub $gy 621 -}}
{{- end -}}

{{- $gy2 := $gy -}}
{{- if gt $gm 2 -}}
  {{- $gy2 = add $gy 1 -}}
{{- end -}}

{{- $days := add
      (mul 365 $gy)
      (div (add $gy2 3) 4)
  -}}

{{- $days = sub $days (div (add $gy2 99) 100) -}}
{{- $days = add $days (div (add $gy2 399) 400) -}}
{{- $days = sub $days 80 -}}
{{- $days = add $days $gd -}}
{{- $days = add $days (index $gdm (sub $gm 1)) -}}

{{- $jy = add $jy (mul 33 (div $days 12053)) -}}
{{- $days = mod $days 12053 -}}

{{- $jy = add $jy (mul 4 (div $days 1461)) -}}
{{- $days = mod $days 1461 -}}

{{- if gt $days 365 -}}
  {{- $jy = add $jy (div (sub $days 1) 365) -}}
  {{- $days = mod (sub $days 1) 365 -}}
{{- end -}}

{{- $jm := 0 -}}
{{- $jd := 0 -}}

{{- if lt $days 186 -}}
  {{- $jm = add 1 (div $days 31) -}}
  {{- $jd = add 1 (mod $days 31) -}}
{{- else -}}
  {{- $jm = add 7 (div (sub $days 186) 30) -}}
  {{- $jd = add 1 (mod (sub $days 186) 30) -}}
{{- end -}}

{{- $months := slice
  "فروردین"
  "اردیبهشت"
  "خرداد"
  "تیر"
  "مرداد"
  "شهریور"
  "مهر"
  "آبان"
  "آذر"
  "دی"
  "بهمن"
  "اسفند"
-}}

{{- return (dict
  "year" $jy
  "month" $jm
  "day" $jd
  "monthName" (index $months (sub $jm 1))
) -}}