<!doctype html>
<html lang="{{ .Site.Language.Locale }}" dir="{{ or .Site.Language.Direction "ltr" }}">
<head>
  {{ partial "head.html" . }}
</head>

<body>
  <a class="skip-link" href="#main-content">
    رفتن به محتوای اصلی
  </a>

  <header class="site-header">
    <div class="site-header-inner">

      <a class="site-brand" href="{{ .Site.Home.RelPermalink }}">
        {{ .Site.Title }}
      </a>

      {{ partial "navigation.html" . }}

    </div>
  </header>

  <main id="main-content" class="site-main">
    {{ block "main" . }}{{ end }}
  </main>

<footer class="site-footer">
  <p>
    © {{ now.Year | replace "0" "۰" | replace "1" "۱" | replace "2" "۲" | replace "3" "۳" | replace "4" "۴" | replace "5" "۵" | replace "6" "۶" | replace "7" "۷" | replace "8" "۸" | replace "9" "۹" }}
    <a href="{{ .Site.Home.RelPermalink }}" style="color: inherit; text-decoration: none;">
      {{ .Site.Title }}
    </a>
  </p>
</footer>
</body>
</html>
