<!doctype html>
<html lang="{{ .Site.Language.Locale }}" dir="{{ or .Site.Language.Direction "ltr" }}">
<head>
  {{ partial "head.html" . }}
</head>

<body>
  <a class="skip-link" href="#main-content">
    رفتن به محتوای اصلی
  </a>

  <header class="site-header">
    <div class="site-header-inner">

      <a class="site-brand" href="{{ .Site.Home.RelPermalink }}">
        {{ .Site.Title }}
      </a>

      {{ partial "navigation.html" . }}

    </div>
  </header>

  <main id="main-content" class="site-main">
    {{ block "main" . }}{{ end }}
  </main>

<footer class="site-footer">
  {{- $year := printf "%d" now.Year -}}
  {{- $year = replace $year "0" "۰" -}}
  {{- $year = replace $year "1" "۱" -}}
  {{- $year = replace $year "2" "۲" -}}
  {{- $year = replace $year "3" "۳" -}}
  {{- $year = replace $year "4" "۴" -}}
  {{- $year = replace $year "5" "۵" -}}
  {{- $year = replace $year "6" "۶" -}}
  {{- $year = replace $year "7" "۷" -}}
  {{- $year = replace $year "8" "۸" -}}
  {{- $year = replace $year "9" "۹" -}}

  <p>
    © {{ $year }}
    <a
      href="{{ .Site.Home.RelPermalink }}"
      style="color: inherit; text-decoration: none;"
    >{{ .Site.Title }}</a>
  </p>
</footer>
</body>
</html>
